<h2>{{ projectName }} Project Loaded Successfully !!!</h2>
<br />
<a routerLink="/feature" class="btn btn-default">Click here to Navigate to application "feature"</a>
<br />
<br />
<br />
You can search on <a href="https://www.google.com/search?sxsrf=ACYBGNTFAJWyMmNeLW4rh8xRDyrgdW_QRg%3A1572747690212&source=hp&ei=qjm-XYH4CYS2swXTuKLYCg&q=angular+routing&oq=angular+routing&gs_l=psy-ab.3..0l10.81.3482..4077...1.0..0.1171.3595.9j3j5-2j0j1....3..0....1..gws-wiz.......0i131j35i39j0i10._xr-k2XNfs8&ved=0ahUKEwiB9ZLb_czlAhUE26wKHVOcCKsQ4dUDCAc&uact=5" target="_blank">Google</a> for further Angular Routing.